{% extends "pages/base.html" %}
{% load bootstrap4 %}

{% block title %}Edit {{ player.name }}{% endblock title %}

{% block header %}

<p class="lead">Editing {{ player }}...</p>
<p class="lead"><a href="{% url 'teams:player' player.id %}">Click here to go back to the player's page</a></p>

{% endblock header %}

{% block content %}

<form method="post" action="{% url 'teams:edit_player' player.id %}">
	{% csrf_token %}
	{% bootstrap_form form %}
	{% buttons %}
		<button class="btn btn-primary" name="submit">Edit player</button>
	{% endbuttons %}
</form>

{% endblock content %}