{% extends "pages/base.html" %}
{% load bootstrap4 %}

{% block title %}Edit {{ manager.name }}{% endblock title %}

{% block header %}

<p class="lead">Editing {{ manager }}...</p>
<p class="lead"><a href="{% url 'teams:manager' manager.id %}">Click here to go back to the manager's page</a></p>

{% endblock header %}

{% block content %}

<form method="post" action="{% url 'teams:edit_manager' manager.id %}">
	{% csrf_token %}
	{% bootstrap_form form %}
	{% buttons %}
		<button class="btn btn-primary" name="submit">Edit manager</button>
	{% endbuttons %}
</form>

{% endblock content %}