{% extends "pages/base.html" %}

{% block title %}{{ manager.name }}{% endblock title %}

{% block header %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'teams:teams' %}">Teams</a></li>
    <li class="breadcrumb-item"><a href="{% url 'teams:team' manager.team.id %}">{{ manager.team.fullname }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ manager.name }}</li>
  </ol>
</nav>

{% endblock header %}

{% block content %}

<p>Name: {{ manager.name }}</p>
<p>Team: <a href="{% url 'teams:team' manager.team.id %}">{{ manager.team }}</a></p>
<p>From: {{ manager.country.name }} <i class="{{ manager.country.flag_css }}"></i></p>
<p>Jersey Number: {{ manager.jersey_number }}</p>
<p><a class="btn btn-danger" href="{% url 'teams:remove_manager' manager.id %}">Delete manager</a></p>
<p><a class="btn btn-info" href="{% url 'teams:edit_manager' manager.id %}">Edit manager</a></p>

{% endblock content %}