{% extends "pages/base.html" %}
{% load bootstrap4 %}

{% block title %}Add manager{% endblock title %}
	
{% block header %}
	<h1 class="display-4">Add a new manager to <a href="{% url 'teams:team' team.id %}">{{ team }}.</a></h1>
{% endblock header %}

{% block content %}

<form method="post" action="{% url 'teams:new_manager' team.id %}">
	{% csrf_token %}
	{% bootstrap_form form %}
	{% buttons %}
		<button class="btn btn-primary" name="submit">Add manager</button>
	{% endbuttons %}
</form>

{% endblock content %}