{% extends "pages/base.html" %}

{% block title %}Teams{% endblock title %}

{% block header %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Teams</li>
  </ol>
</nav>

{% endblock header %}

{% block content %}

<a href="{% url 'teams:new_team' %}">Add team</a>
<ul>
	{% for team in teams %}
	<li><a href="{% url 'teams:team' team.id %}">{{ team }}</a></li>
	{% empty %}
	<li>No teams have been created yet.</li>
	{% endfor %}
</ul>

{% endblock content %}