{% extends "pages/base.html" %}

{% block content %}

<p><i>{{ team }}</i> <a href="{% url 'teams:remove_team' team.id %}">delete team</a></p>
<a href="{% url 'teams:new_player' team.id %}">Add player to team</a>
{% if team.manager %}
	<p>Manager: <a href="{% url 'teams:manager' team.manager.id %}">{{ team.manager.name }}</a></p>
{% else %}
	<p>
		This team does not have a manager.<a href="{% url 'teams:new_manager' team.id %}">Click to add a manager to this team.</a>
	</p>
{% endif %}
<ol>
	{% for player in players %}
	<li>
		<a href="{% url 'teams:player' player.id %}">{{ player.name }}</a>, {{ player.position }}
		<a href="{% url 'teams:remove_player' player.id %}">delete player</a>
	</li>
	{% empty %}
	<li>No players for this team have been added yet.</li>
	{% endfor %}
</ol>

{% endblock content %}