{% extends "pages/base.html" %}

{% block title %}Teams{% endblock title %}

{% block header %}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item active" aria-current="page">Teams</li>
	</ol>
</nav>

{% endblock header %}

{% block content %}

<div style="margin-bottom: 1rem;">
	<a class="btn btn-primary" href="{% url 'teams:new_team' %}">Add team</a>
</div>

<div class="card" style="width: 18rem;">
	<div class="card-header">
		Teams
	</div>
	<ul class="list-group list-group-flush">
		{% for team in teams %}
	<li class="list-group-item"><a href="{% url 'teams:team' team.id %}">{{ team }}</a></li>
	{% empty %}
	<li class="list-group-item">No teams have been created yet.</li>
	{% endfor %}
	</ul>
</div>

{% endblock content %}